#map {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.chart {
  display: inline-block;
  width: 50px;
  height: 150px;
  margin-left: 30px;
  background-color: blueviolet;
}

.mid {
  padding-top: 50px;
  text-align: center;
}

.bottom {
  padding-top: 50px;
  text-align: center;
}
