.top {
  text-align: center;
  justify-content: center;
}

#map {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.real_map {
  padding-bottom: 10px;
}

.mid {
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid #f7f7f7;
}

.bottom {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.card {
  display: inline-flex;
  margin: 10px;
}

.news {
  padding-bottom: 15px;
}

.news_image {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 100px;
}
