.top {
  text-align: center;
}

#map {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.real_map {
  padding-bottom: 10px;
}

.mid {
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid #f7f7f7;
}

.bottom {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}

.news {
  padding-bottom: 15px;
}

.image {
  vertical-align: middle;
  padding-right: 15px;
}
