<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.js') }}"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a87b7409110fed79877df6296882270c&libraries=services"
    ></script>
    <title>검색결과</title>
  </head>
  <body>
    <div class="top">
      <h3>주변지도</h3>
    </div>
    <div id="map" class="real_map">
      <!-- 검색시 지도를 보여줄 부분 -->
    </div>

    <div class="mid">
      <h3>토지가격 변동률</h3>
      <!-- 검색시 관련 지역 가격 변동율을 보여줄 부분 -->
    </div>
    <div class="bottom">
      <h3 class="text">뉴스 모아보기</h3>
      <!-- 검색시 관련 뉴스를 보여줄 부분 -->
    </div>
  </body>
</html>
